<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizDao" class="ru.otus.homework1.dao.CsvQuizDao"/>
    <bean id="printService" class="ru.otus.homework1.service.ConsolePrintService"/>

    <bean id="quizService" class="ru.otus.homework1.service.QuizServiceImpl">
        <constructor-arg name="quizDao" ref="quizDao"/>
        <constructor-arg name="printService" ref="printService"/>
    </bean>
</beans>
